@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap");

:root {
  --main-color: #f0c529;
  --sec-color: honeydew;
  --ling-color: #b6d7ff;
  --box-padding: 0 2rem;
  color: var(--sec-color);
  line-height: 1.4;
  word-spacing: 0.03rem;
}
body {
  transition: all 500ms;
  background-color: black;
}

.en {
  display: flex;
}

a {
  color: var(--ling-color);
  text-decoration: none;
}

p {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Mukta", sans-serif;
  font-size: max(1rem, 1vw);
  text-align: justify;
  font-weight: 500;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.spacer {
  height: 8rem;
}
.header_bar {
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  flex-basis: 15%;
  flex-shrink: 0;
}
.content_bar {
  background-color: black;
  flex-grow: 1;
}

/* Sections
///////////////////////////////////////////////////////////////////////////////////////////
*/
.hero_container {
  position: relative;
  height: 100vh;
  background-image: url(/bg.jpg);
  background-position: center;
  background-size: cover;
}

.hero_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.hero_heading {
  /* max-width: 85%; */
  /* width: max-content;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: max(3rem, 5vw);
  text-align: center;
  text-shadow: 0 0 8px black;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
}

.hero_title {
  /*  position: absolute;
  color: rgb(107, 90, 255);
  top: 83%;
  left: 50%;
  transform: translateX(-50%); 
  font-size: max(1.5rem, 2vw);
  width: max-content;
     font-weight: 400;
  text-transform: capitalize;
  text-shadow: 0 0 16px blue;
  text-align: center; */
}

section {
  padding: 0 4rem;
}
.heading_container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.heading_title {
  font-size: max(1.5rem, 1.5vw);
  color: var(--main-color);
  width: min-content;
  margin: 0 2rem;
  color: var(--main-color);
  text-shadow: 0 0 3px var(--main-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.heading_line {
  background-color: var(--main-color);
  height: 0.0625rem;
  flex-grow: 1;
}

.section_first_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section_about_container {
  flex: 0 1 50%;
}

.section_info_container {
  flex: 0 1 50%;
}

.section_about_container section {
  padding: 0 0 0 4rem;
}
.section_info_container section {
  padding: 0 4rem 0 0;
}
.section_first_container h2 {
  width: max-content;
}
.section_info_th {
  font-family: "Mukta", sans-serif;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  font-style: italic;
  font-size: max(1rem, 1vw);
}

.section_info_td {
  font-family: "Mukta", sans-serif;
  color: var(--sec-color);
  font-size: max(0.9rem, 0.9vw);
  padding-left: 0.25rem;
  font-weight: 500;
}

.section_info_dvider {
  width: 300%;
  border: none;
  border-top: var(--main-color) dashed 0.0625rem;
  margin: 0.25rem 0;
}

.section_content {
  padding: var(--box-padding);
}

.section_interests_flex {
  display: flex;
  gap: 3rem;
}

.section_skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
}

.section_projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 3rem;
  row-gap: 2rem;
}

.section_projects_col {
  width: 85%;
}

.section_edu_container {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.edu_card {
  background: #111; /* Dark background */
  padding: 20px;
  border-radius: 12px;
  border: 2px solid rgba(0, 255, 234, 0.5); /* Neon border */
  box-shadow: 0 0 15px rgba(0, 255, 234, 0.8); /* Neon glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: flickerNeon 8.5s infinite alternate ease-in-out;
  flex: 1;
}

.edu_card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(0, 255, 234, 1);
  animation: none;
}

.edu_title {
  font-size: 1.2rem;
  color: #00ffea;
  text-shadow: 0 0 5px #00ffea;
  -webkit-text-stroke-color: rgba(0, 255, 234, 0.75);
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.edu_description {
  color: #ccc;
  font-size: 1rem;
}

.edu_sub_description {
  color: var(--main-color);
  font-size: 0.8rem;
}

@keyframes flickerNeon {
  0% {
    box-shadow: 0 0 15px rgba(0, 255, 234, 0.4);
  }
  20% {
    box-shadow: 0 0 20px rgba(0, 255, 234, 0.9);
  }
  35% {
    box-shadow: 0 0 6px rgba(0, 255, 234, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 234, 1);
  }
  65% {
    box-shadow: 0 0 8px rgba(0, 255, 234, 0.1);
  }
  80% {
    box-shadow: 0 0 22px rgba(0, 255, 234, 0.95);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 255, 234, 0.5);
  }
}

/* Card Components
////////////////////////////////////
*/

.card_container {
  display: flex;
  flex-direction: column;
}
.card_icon {
  transition: all 500ms;
}
.card_icon:hover {
  transform: rotate(720deg) scale(150%);
  filter: saturate(110%) contrast(150%);
  -webkit-filter: saturate(110%) contrast(150%);
}

.card_container {
  align-items: center;
  text-align: center;
}

.card_icon {
  width: 10vw;
  margin-bottom: 0.5rem;
}
.card_title {
  font-size: max(1.4rem 1.4vw);
  font-weight: 400;
  margin-bottom: 1.1rem;
  color: var(--main-color);
  text-shadow: 0 0 3px var(--main-color);
  text-align: center;
}

/* Details Components
////////////////////////////////////
*/
.detail_container a {
  font-size: 0.9vw;
  color: var(--ling-color);
  text-shadow: 0 0 4px rgb(233, 4, 195);
  transition: all 1s;
}
.detail_container {
  height: 100%;
  padding: 1.5rem;
  border-radius: 2px;
  box-shadow: 1px 0 8px blue;
  transition: all 500ms;
}
.detail_container:hover {
  box-shadow: 0 0 10px 4px var(--main-color);
  transform: scale(150%) rotate(360deg);
  background-color: rgba(146, 8, 146, 0.8);
}
.detail_title {
  color: var(--main-color);
  margin-bottom: 1rem;
  text-align: center;
  text-wrap: balance;
}
/* progress Components
////////////////////////////////////
*/
.progress_container {
  /* position: relative; 
  display: flex; */
  font-weight: 700;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 0 7px 2px blue;
  gap: 0;
  transition: all 500ms;
}

.progress_nx {
  border-radius: 10px;
  height: 100%;
}
.progress_container:hover {
  box-shadow: 0 0 14px 4px var(--main-color);
  transform: scale(150%);
  z-index: 1;
}
.progress_container div:first-child {
  border-radius: 10px 0 0 10px;
}

.progress_title {
  /* position: absolute;
  left: 6%;
  top: 50%; 
  transform: translate(0, -50%);*/
  display: block;
  text-align: center;
}
.progress_percent {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translate(0, -50%);
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

/* Media
///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////// */

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  section {
    padding: 2rem;
  }
  .hero_title {
    top: 72%;
  }
  .hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero_heading {
    position: static;
    width: auto;
    margin: 0 auto;
    transform: translate(0, 0);
    font-size: 7.9vw;
  }
  .header_bar {
    display: none;
  }

  .section_first_container {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .section_about_container section {
    padding: 0 2rem;
  }

  .section_info_container section {
    padding: 0 2rem;
  }

  .section_interests_flex {
    flex-direction: column;
  }

  .section_skills_container {
    grid-template-columns: 1fr;
  }

  .section_projects_container {
    grid-template-columns: 1fr;
  }

  .edu_card {
    flex-basis: 100%;
  }
}

/* ///////////////////////////////////////////////////////////////////
 */
@media (min-width: 481px) and ((max-width: 767px)) {
  .edu_card {
    flex-basis: 100%;
  }
  :root {
    font-size: 13px;
  }
  .hero_title {
    top: 73%;
  }
  .header_bar {
    display: none;
  }
  .section_first_container {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }

  .section_about_container section {
    padding: 0 4rem;
  }

  .section_info_container section {
    padding: 0 4rem;
  }

  .section_interests_flex {
    flex-direction: column;
  }

  .section_skills_container {
    grid-template-columns: 1fr 1fr;
  }

  .section_projects_container {
    grid-template-columns: 1fr;
  }
}

/* ///////////////////////////////////////////////////////////////////
 */
@media (min-width: 768px) and ((max-width: 1023px)) {
  :root {
    font-size: 14px;
  }
  .hero_title {
    top: 75%;
  }
  .section_first_container {
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }
  .section_about_container section {
    padding: 0 4rem;
  }

  .section_info_container section {
    padding: 0 4rem;
  }
  .section_interests_flex {
    flex-direction: column;
  }
  .section_skills_container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section_projects_container {
    grid-template-columns: 1fr;
  }
}

/* ///////////////////////////////////////////////////////////////////
 */
@media (min-width: 1024px) and ((max-width: 1280px)) {
  :root {
    font-size: 15px;
  }
  .hero_title {
    top: 80%;
  }
}
/* ///////////////////////////////////////////////////////////////////
 */
@media (min-width: 1281px) {
  :root {
    font-size: 16px;
  }

  .heading_title {
    text-wrap: nowrap;
  }
}
